/* Left Navigation bar colour */
.wy-side-nav-search {
    background-color: #bdba06;
}

/* Top mobile view bar colour */
.wy-nav-top {
    background-color: #bdba06;
}

/* Left Navigation bar caption colour */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #d9d507;
}
